[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
qrcode = {extras = ["pil"], version = "*"}
dlib = "*"
face-recognition = "*"
numpy = "==1.19.3"

[dev-packages]

[requires]
python_version = "3.9"
