@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80vw;
    max-width: 700px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
    margin-top: 1.5vh;
}

.login-form form {
    padding: 0;
}

.login-header>h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(209, 62, 136);
}

/* Main form fields */
.login-field {
    width: 70vw;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.login-field > p {
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Form labels */
.login-field > p > label {
    width: 70vw;
    max-width: 650px;
    color: #004d95;
    font-weight: 500;
}

/* Form inputs */
.login-field > p > input {
    width: 70vw;
    max-width: 600px;
    text-align: left;
    border: none;
    border-radius: 0;
    border-bottom: #004d95 0.1rem solid;
    width: 60vw;
}

/* Form submit */
.login-submit {
    margin-top: 8vh;
    width: 60vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-submit > p > input[type=submit] {
    width: 50vw;
    max-width: 400px;
    height: 7vh;
    border-radius: 10px;
    background: rgb(209, 62, 136);
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
    border: none;
    cursor:pointer;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
.login-submit > p > input:hover {
    width: 50vw;
    max-width: 400px;
    border-radius: 10px;
    background: #c24c86;
    box-shadow: inset 5px 5px 10px #a54172,
    inset -5px -5px 10px #df579a;
}