@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.nav-main {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  height: 12vh;
  background-color: #004d95;
}

.nav-link {
  margin-top: 0.1rem;
  border-radius: 10px;
  background: #004d95;
  box-shadow:  5px 5px 10px #00417f,
  -5px -5px 10px #0059ab;
  color: white;
  text-decoration: none;
  font-size: 4vh;
}

.nav-link-main {
  border-top: 2px lightgray solid;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link:hover {
  border-radius: 10px;
  background: linear-gradient(145deg, #004586, #00529f);
  box-shadow:  5px 5px 10px #00417f,
  -5px -5px 10px #0059ab;
  color:#fff;
}

.nav-main .nav-link.is-current {
  border-radius: 10px;
  background: #004d95;
  box-shadow: inset 5px 5px 10px #00417f,
  inset -5px -5px 10px #0059ab;
  color: rgb(209, 62, 136);
}

svg:not(:root).svg-inline--fa {
  width: 5vh;
}