.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem 6rem 6rem 8rem;
  box-shadow: $shadow-big;
  background-color: rgba($color-white, .55);
  border-radius: $border-radius-small;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;

    // First number is radius (here 7.5rem), second and third are center x/y of circle
    // Only works with a defined parent's height and width
    shape-outside: circle(7.5rem at 50% 50%);

    clip-path: circle(7.5rem at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    @include absoluteCentering;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(.2rem) brightness(.6);
  }
}

