[submodule "PP-02-Skelethon"]
	path = PP-02-Skelethon
	url = https://github.com/nicode-be/PP-02-Skelethon
[submodule "PP-01-Tetris-js"]
	path = PP-01-Tetris-js
	url = https://github.com/nicode-be/PP-01-Tetris-js
[submodule "02-03-PewPew"]
	path = 02-03-PewPew
	url = https://github.com/nicode-be/02-03-PewPew
[submodule "AL-01-PythonCrashCourse"]
	path = AL-01-PythonCrashCourse
	url = https://github.com/nicode-be/AL-01-PythonCrashCourse
[submodule "TW-CookieClicker"]
	path = TW-CookieClicker
	url = https://github.com/nicode-be/TW-CookieClicker
[submodule "02-04-Hangman_Game"]
	path = 02-04-Hangman_Game
	url = https://github.com/nicode-be/02-04-Hangman_Game