{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Testing out the Template System</title>
        <style>
            .row {
                background-color: lightskyblue;
            }
            .altrow {
                background-color: lightskyblue;
            }
            table td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% load static humanize event_custom_tags %}
        Comment Tag<br />
        {% comment "this won't show at all in your browser" %}
        Three six nine, the goose drank wine
        {% endcomment %}
        Cycle Tag<br />
        {% for i in '12345' %}
        Colored Text<br />
        {% endfor %}
        Cycle tag used to format a table:<br />
        {% for i in '12345' %} {% endfor %}
        {{ i }}
        Filter Tag<br />
        {% filter striptags|upper %}
        This text will be converted to uppercase and have the HTML tags removed.
        {% endfilter %}
        Firstof Tag<br />
        {% firstof None False '' empty_list 'This one!' 'Not this one' %}
        For Tag<br />
        List Colors:<br />
            •	{% for item in color_list %}
            •	{{ item }}{{ forloop.counter }}
            •	{% endfor %}
        The for loop variables:
        {% for item in color_list %} {% endfor %}
        Item<br />
        forloop.counter
        forloop.counter0
        forloop.revcounter
        forloop.revcounter0
        forloop.first
        forloop.last
        {{ item }}
        {{ forloop.counter }}
        {{ forloop.counter0 }}
        {{ forloop.revcounter }}
        {{ forloop.revcounter0 }}
        {{ forloop.first }}
        {{ forloop.last }}
        For...empty Tag<br />
        This list has items to show:<br />
            •	{% for item in color_list %}
            •	{{ item }}
            •	{% empty %}
            •	Nothing in the list!
            •	{% endfor %}
        But this one doesn't:<br />
            •	{% for item in empty_list %}
            •	{{ item }}
            •	{% empty %}
            •	Nothing in the list!
            •	{% endfor %}
        If Tag<br />
        {% if empty_list %} This line won't show as list is empty. {% elif color_list %} color_list is not empty, so this line shows. {% else %} Optional else clause. This won't show in this example. {% endif %}
        {% if somevar > 5 %} somevar is greater than 5 {% else %} somevar is less than 5 {% endif %}
        {% if empty_list and color_list %} Both lists have content {% else%} One list is empty {% endif %}
        {% if empty_list or color_list %} At least one list has content {% endif %}
        {% if not empty_list %} Negated an empty list, so this will print. {% endif %}
        {% if anothervar is True %} This prints if and only if anothervar is True. {% endif %}
        {% if novar is None %} This appears if novar is None, or if novar is not found in the context. {% endif %}
        {% if anothervar is True %} This prints if and only if anothervar is True. {% endif %}
        {% if novar is None %} This appears if novar is None, or if novar is not found in the context. {% endif %}
        {% if "dog" in "catdog" %} The best half! {% endif %}
        {% if "orange" in color_list %} Orange is in the list! {% else %} Orange is not in the list! {% endif %}
        {% if color_list|length < 10 %} List has less than 10 elements {% endif %}
        {% if somevar >= 5 and anothervar != 30 %} Both comparisons are true, so this will print. {% endif %}
        Lorem Tag<br />
        This one will output a number of words:<br />
        {% lorem 5 w %}
        This one outputs a number of HTML paragraphs:<br />
        {% lorem 2 p %}
        This one outputs plain text paragraphs:<br />
        {% lorem 1 b %}
        And finally, we can output a number of random words:<br />
        {% lorem 10 w random %}
        or random paragraphs:<br />
        {% lorem 3 p random %}
        Now Tag<br />
        {% now "m-d-Y H:i" %}
        Regroup Tag<br />
        {% regroup best_bands by country as band_list %}
        Best Bands:<br />
            •	{% for band in band_list %}
            •	{{ band.grouper }}
            ◦	{% for band in band.list %}
            ◦	{{ band.name }}
            ◦	{% endfor %}
            •	{% endfor %}
        Url Tag<br />
        {% url 'tdemo' %}
        With Tag<br />
        {% with total_items=color_list|length %} The list has {{ total_items }} item{{ total_items|pluralize }} {% endwith %}
        Template Filters<br />
        Add Filter<br />
        {{ somevar|add:'12' }}
        {{ somevar|add:anothervar }}
        Addslashes Filter<br />
        {{ "I'm not. She didn't."|addslashes }}
        {{ 'He said "NO!"'|addslashes }}
        Sentence Casing Filters<br />
        {{ "the 'capfirst' filter will capitalize the first word"|capfirst }}
        {{ "The 'lower' Filter will Convert the Sentence to LOWERCASE"|lower }}
        {{ "the 'upper' filter will convert the sentence to uppercase"|upper }}
        {{ "and the 'title' filter will convert the sentence to title case"|title }}
        Field Alignment Filters<br />
        |{{ "Left Justified"|ljust:"30" }}|
        |{{ "Centered"|center:"30" }}|
        |{{ "Right Justified"|rjust:"30" }}|
        Cut Filter<br />
        {{ "I really don't like the letter 'e' for some reason"|cut:"e" }}
        Formatting Dates and Times<br />
        {{ today|date:"l jS E Y" }}
        {{ today|time:"H:i" }}
        Showing Default Values<br />
        {{ empty_list|default:"Empty list" }}
        {{ empty_list|default_if_none:"This won't show as Empty != None" }}
        {{ None|default_if_none:"Obvious, but you get the idea" }}
        Sorting Dictionaries<br />
        {{ best_bands|dictsort:"name"}} {{ best_bands|dictsortreversed:"name"}}
        Divisibleby Filter<br />
        {{ anothervar|divisibleby:"4" }}
        {{ anothervar|divisibleby:"3" }}
        Filesizeformat Filter<br />
        {{ 44040192|filesizeformat }}
        Retrieving the First and Last Items from a List
        {{ color_list|first }} {{ color_list|last }}
        Format Floating Point Numbers
        {{ 3.14159265|floatformat }} {{ 3.14159265|floatformat:4 }}
        get_digit Filter<br />
        {{ anothervar|get_digit:1 }}
        {{ anothervar|get_digit:0 }}
        {{ "Hello"|get_digit:2 }}
        Join Filter<br />
        {{ color_list|join:" and " }}
        Output JSON<br />
        JSON can be output using the json_script filter:
        (You will need to look in the page source to see this one)
        {{ best_bands|json_script:"best-bands" }} {{ venues|json_script:"all-venues" }}
        Length_is Filter<br />
        {{ color_list|length_is:"4" }}
        {{ empty_list|length_is:"2" }}
        {{ "Hello"|length_is:"5" }}
        Make_list Filter<br />
        {{ "Hello"|make_list }}
        {{ "12345"|make_list }}
        {{ anothervar|make_list }}
        {{ 3.14159265|make_list }}
        Phone2numeric Filter<br />
        {{ "1800 BITE ME"|phone2numeric }}
        Slice Filter<br />
        {{ color_list|slice:":3" }}
        {{ color_list|slice:"2:" }}
        {{ color_list|slice:":-1" }}
        {{ color_list|slice:"1:2" }}
        Slugify Filter
        {{ "Number of the Beast"|slugify }} {{ "slugify won't use these: /\$#^&"|slugify }}
        Stringformat Filter
        {{ 314159265|stringformat:"E" }}
        {{ 3.14159265|stringformat:".2f" }}
        Striptags Filter
        {{ "
        The Title
        "|striptags }}
        Calculating the Difference Between Dates
        {{ today|timesince:future }} {{ today|timeuntil:past }}<br />
        Truncating Strings<br />
        {{ "The Title"|truncatechars:7 }}<br />
        {{ "The Title"|truncatechars_html:7 }}<br />
        {{ "The Title"|truncatewords:1 }}<br />
        HTML aware version:<br />
        {{ "The Title"|truncatewords_html:1 }}<br />
        Unordered Lists<br />
            •	{{ aussie_bands|unordered_list }} <br />
        Encoding URLs<br />
        {{ "https://bestbands.example.com/bands?album=Master of Puppets&rating=awesome"|urlencode }}<br />
        Creating Hyperlinks<br />
        {{ "The djangobook.com website is awesome!"|urlize }}<br />
        {{ "The djangobook.com website is awesome!"|urlizetrunc:11 }}<br />
        Wordwrap Filter<br />
        {{ "Now I lay me down to sleep"|wordwrap:4 }}<br />
        Yesno Filter<br />
        {{ True|yesno }}<br />
        {{ False|yesno }}<br />
        {{ None|yesno }}<br />
        {{ True|yesno:"yeah baby,heck no,meh" }}<br />
        {{ False|yesno:"yeah baby,heck no,meh" }}<br />
        {{ None|yesno:"yeah baby,heck no,meh" }}<br />
        The Humanize Filters<br />
        {{ 1|apnumber }}, {{ 5|apnumber }}, {{ 12|apnumber }}<br />
        {{ 4500|intcomma }}; {{ 42123456.78|intcomma }}<br />
        {{ 4000000|intword }}; {{ 42000000000|intword }}<br />
        {{ today|naturalday }}<br />
        {{ today|naturaltime }}; {{ past|naturaltime }}; {{ future|naturaltime }}<br />
        {{ 1|ordinal }}, {{ 2|ordinal }}, {{ 3|ordinal }}, {{ 20|ordinal }}<br />
        Custom Tags and Filters<br />
        {{ "James is in rehab again"|reverse }}<br />
        {{ 100|reverse }}<br />
        {% create_date today %} <br />
        {% announcements %} <br />
    </body>
</html>