@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  right: 4vh;
  top: 3vh;
  width: 5vh;
  height: 4vh;
  margin-right: -1vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  opacity: 50%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 5vh !important;
  width: 5vh !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  top: 0px;
  width: 32vh !important;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2em 1.5em 0;
  font-size: 1.15em;
  border-left: lightgrey 2px solid;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #004d95;
  font-weight: bold;
  padding: 2vh;
}

.bm-item.nav-link.is-current span {
  visibility: hidden;
}

.bm-item.nav-link.is-current span:after {
  visibility: visible;
  content: "▬";
  line-height: 0;
}

.bm-item-list h1 {
  text-align: center;
  font-size: 5vh;
  font-weight: bolder;
  padding: 1vh;
  color: #004d95;
  font-family: 'Lato', sans-serif;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
