//& Imports
@import "https://fonts.googleapis.com/css2?family=Bellota&display=swap";
@import "variables", "mixins";


//& Main
body {
  main {
    img {
      width: 20vw;
      height: auto;
    }
    font-family: 'Bellota', cursive;
    #formSupport {
      background: $companyBlueTrans;
      
      #winnie {
        visibility: hidden;
      }
      #submit {
        background-color: $companyBlue;
        border: 2px $companyBlueTrans solid;
        width: 20vw;
        height: 6vh;
        font-size: 1.4em;
        font-weight: 900;
      }
    }
  }
}

