//& Imports
@import "https://fonts.googleapis.com/css2?family=Bellota&display=swap";
@import "variables", "mixins";


//& Mobile-First
body {
  background: $companyWhite;
  main {
    img {
      width: 40vw;
      height: auto;
    }
    font-family: 'Bellota', cursive;
    #formSupport {
      background: $companyBlueTrans;
      #winnie {
        visibility: hidden;
      }
      #submitSect {
        #submit {
          background-color: $companyBlue;
          border: 2px $companyBlueTrans solid;
          width: 50vw;
          height: 6vh;
          font-size: 1.3rem;
          font-weight: 700;
        }
      }
    }
  }
}  

.error {
  color: $errorRed;
}
#descriptionSubmit {
  visibility: hidden;
}
label {
  color: $companyBlack;
  font-size: 1.1rem;
  font-weight: 900;
}
#optional {
  color: $companyBlue;
  font-size: 0.8rem;
}

//& XL-Screens
@media only screen and (min-width: 1200px) {
  body {
    background: $companyWhite;
    main {
      img {
        width: 20vw;
        height: auto;
      }
      font-family: 'Bellota', cursive;
      #formSupport {
        background: $companyBlueTrans;
        #winnie {
          visibility: hidden;
        }
        #submitSect {
          #submit {
            background-color: $companyBlue;
            border: 2px $companyBlueTrans solid;
            width: 20vw;
            height: 6vh;
            font-size: 2rem;
            font-weight: 900;
          }
        }
      }
    }
  }  
}

