// Colors
$company-blue: rgba(69, 146, 199, 1);
$company-orange: rgba(221, 147, 52, 1);
$company-darkblue: rgba(41, 88, 126, 1);
$company-lightgrey: rgba(238, 238, 238, 1);
$company-darkgrey: rgba(51, 51, 51, 1);

// Mixins
@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}