#mahine-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}