.machine-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.machine-picker > label {
    width: 70vw;
    border-radius: 6px;
    background: #004d95;
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
    color: #fff;
    text-align: center;
}