.glow-on-hover {
  width: 25vw;
  height: 5vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5vw; }

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 5vw; }

.glow-on-hover:active {
  color: #000; }

.glow-on-hover:active:after {
  background: transparent; }

.glow-on-hover:hover:before {
  opacity: 1; }

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5vw; }

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

body {
  background-image: url(/assets/img/wallMobile.png); }
  body main {
    max-width: 97vw;
    max-height: 95vh; }
    body main #title {
      text-align: center;
      font-family: 'VT323', monospace;
      color: #fff;
      font-size: 1.8rem; }
    body main #scoreLineOne {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      text-align: center;
      font-family: 'VT323', monospace;
      color: #fff;
      font-size: 1.5rem; }
    body main #scoreLineTwo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      text-align: center;
      font-family: 'VT323', monospace;
      font-size: 1.8rem;
      color: #52b4b3; }
      body main #scoreLineTwo article {
        padding-left: 3vw; }
      body main #scoreLineTwo button {
        border: none;
        border-radius: 2vw;
        font-size: 1.2rem;
        font-family: 'VT323', monospace;
        color: #fff;
        background: #bb94f8;
        width: 40vw; }
      body main #scoreLineTwo Button:hover {
        background: rgba(187, 148, 248, 0.5); }
      body main #scoreLineTwo Button:active {
        position: relative;
        top: 1px; }
    body main #clickUpgrade {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      body main #clickUpgrade #cookie {
        margin: 2vw 0;
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        body main #clickUpgrade #cookie #cookbtn {
          width: 20vw;
          height: auto; }
        body main #clickUpgrade #cookie #cookbtn:active {
          position: relative;
          top: 0.5vw; }
      body main #clickUpgrade #store {
        padding: 1vw 0;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 97vw; }
        body main #clickUpgrade #store .storeBtn {
          width: 45vw;
          margin: 2vw;
          margin: 0.5vh 1vw;
          border: none;
          border-radius: 4vw;
          color: #fff;
          font-size: 1.5rem;
          font-family: 'VT323', monospace; }
      body main #clickUpgrade #upgrade {
        width: 97vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 5vw;
        padding-top: 3vw; }
        body main #clickUpgrade #upgrade p {
          visibility: hidden; }
        body main #clickUpgrade #upgrade .build1 {
          background-image: url(/assets/img/field.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build1 img {
            width: 7vw; }
        body main #clickUpgrade #upgrade .build2 {
          background-image: url(/assets/img/hills.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build2 img {
            width: 6vw; }
        body main #clickUpgrade #upgrade .build3 {
          background-image: url(/assets/img/mountain.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build3 img {
            width: 7vw; }
        body main #clickUpgrade #upgrade .build4 {
          background-image: url(/assets/img/dataCenter.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build4 img {
            width: 6vw; }
        body main #clickUpgrade #upgrade .build5 {
          background-image: url(/assets/img/robotEnv.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build5 img {
            width: 4vw; }
        body main #clickUpgrade #upgrade .build6 {
          background-image: url(/assets/img/abstract.png);
          border-radius: 1.2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden; }
          body main #clickUpgrade #upgrade .build6 img {
            width: 8vw; }
    body main #tempUpgrade {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 2vw; }
      body main #tempUpgrade #tempup {
        height: 4vh;
        border: none;
        border-radius: 2vw;
        background: #000;
        color: #fff; }
      body main #tempUpgrade #tempup:hover {
        background: rgba(187, 148, 248, 0.5); }
      body main #tempUpgrade #reset {
        margin-top: 2vw;
        background: #fff;
        height: 4vh;
        border: none;
        border-radius: 2vw;
        color: red; }
      body main #tempUpgrade #reset:hover {
        background: rgba(232, 61, 78, 0.5); }
      body main #tempUpgrade #achievement {
        margin-top: 2vh;
        margin-bottom: 2vh;
        background: #e83d4e;
        height: 4vh;
        border: none;
        border-radius: 2vw;
        font-family: 'VT323', monospace;
        font-size: 2rem;
        color: #fff; }
      body main #tempUpgrade .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
      body main #tempUpgrade .modal-content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: #414562;
        font-family: 'VT323', monospace;
        border: black 3px solid;
        font-size: 1.7rem;
        color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem; }
      body main #tempUpgrade .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        color: black;
        background-color: #bb94f8;
        border: 3px black solid; }
      body main #tempUpgrade .close-button:hover {
        background-color: darkgray; }
      body main #tempUpgrade .show-modal {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
        transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
      body main #tempUpgrade .trigger {
        margin-top: 2vh;
        margin-bottom: 2vh;
        background: #e83d4e;
        height: 4vh;
        border: none;
        border-radius: 2vw;
        font-family: 'VT323', monospace;
        font-size: 2rem;
        color: #fff; }

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/img/wallMobile.png); }
    body main {
      max-width: 100vw;
      max-height: 100vh; }
      body main #title {
        text-align: center;
        font-family: 'VT323', monospace;
        color: #fff;
        font-size: 2.5rem; }
      body main #scoreLineOne {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        color: #fff;
        font-size: 1.5rem; }
      body main #scoreLineTwo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 3rem;
        color: #52b4b3; }
        body main #scoreLineTwo article {
          padding-left: 5vw; }
        body main #scoreLineTwo button {
          border: none;
          border-radius: 2vw;
          font-size: 2rem;
          font-family: 'VT323', monospace;
          color: #fff;
          background: #bb94f8;
          width: 30vw; }
        body main #scoreLineTwo Button:hover {
          background: rgba(187, 148, 248, 0.5); }
        body main #scoreLineTwo Button:active {
          position: relative;
          top: 1px; }
      body main #clickUpgrade {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        body main #clickUpgrade #cookie {
          margin: 2vw 0;
          width: 97vw;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          body main #clickUpgrade #cookie #cookbtn {
            width: 25vw;
            height: auto; }
          body main #clickUpgrade #cookie #cookbtn:active {
            position: relative;
            top: 0.5vw; }
        body main #clickUpgrade #store {
          padding: 2vw 0;
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          width: 95vw; }
          body main #clickUpgrade #store .storeBtn {
            width: 40vw;
            margin: 2vw;
            margin: 0.5vh 1vw;
            border: none;
            border-radius: 1.5vw;
            color: #fff;
            font-size: 1.5rem;
            font-family: 'VT323', monospace; }
        body main #clickUpgrade #upgrade {
          width: 100vw;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          body main #clickUpgrade #upgrade p {
            font-family: 'VT323', monospace;
            font-size: 2rem;
            color: #7678a5; }
          body main #clickUpgrade #upgrade .build1 {
            background-image: url(/assets/img/field.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build1 img {
              width: 4vw; }
          body main #clickUpgrade #upgrade .build2 {
            background-image: url(/assets/img/hills.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build2 img {
              width: 3vw; }
          body main #clickUpgrade #upgrade .build3 {
            background-image: url(/assets/img/mountain.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build3 img {
              width: 4vw; }
          body main #clickUpgrade #upgrade .build4 {
            background-image: url(/assets/img/dataCenter.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build4 img {
              width: 4vw; }
          body main #clickUpgrade #upgrade .build5 {
            background-image: url(/assets/img/robotEnv.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build5 img {
              width: 4vw; }
          body main #clickUpgrade #upgrade .build6 {
            background-image: url(/assets/img/abstract.png);
            border-radius: 1.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build6 img {
              width: 5vw; }
      body main #tempUpgrade {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 2vw; }
        body main #tempUpgrade #tempup {
          height: 4vh;
          border: none;
          border-radius: 2vw;
          background: #000;
          color: #fff; }
        body main #tempUpgrade #tempup:hover {
          background: rgba(187, 148, 248, 0.5); }
        body main #tempUpgrade #reset {
          margin-top: 2vw;
          background: #fff;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          color: red; }
        body main #tempUpgrade #reset:hover {
          background: rgba(232, 61, 78, 0.5); }
        body main #tempUpgrade #achievement {
          margin-top: 2vh;
          margin-bottom: 2vh;
          background: #e83d4e;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff; }
        body main #tempUpgrade .modal {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
        body main #tempUpgrade .modal-content {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-color: #414562;
          font-family: 'VT323', monospace;
          border: black 3px solid;
          font-size: 1.7rem;
          color: white;
          padding: 1rem 1.5rem;
          width: 24rem;
          border-radius: 0.5rem; }
        body main #tempUpgrade .close-button {
          float: right;
          width: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          cursor: pointer;
          border-radius: 0.25rem;
          color: black;
          background-color: #bb94f8;
          border: 3px black solid; }
        body main #tempUpgrade .close-button:hover {
          background-color: darkgray; }
        body main #tempUpgrade .show-modal {
          opacity: 1;
          visibility: visible;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
        body main #tempUpgrade .trigger {
          margin-top: 2vh;
          margin-bottom: 2vh;
          background: #e83d4e;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff; } }

@media only screen and (min-width: 1024px) {
  body {
    background: #292d3e; }
    body main {
      max-width: 100vw;
      max-height: 100vh; }
      body main #title {
        text-align: center;
        font-family: 'VT323', monospace;
        color: #fff;
        font-size: 4rem; }
      body main #scoreLineOne {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        color: #bb94f8;
        font-size: 3rem; }
      body main #scoreLineTwo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 3rem;
        color: #e83d4e;
        margin-bottom: 2vh; }
        body main #scoreLineTwo article {
          padding-left: 1.2vw; }
        body main #scoreLineTwo button {
          border: none;
          border-radius: 2vw;
          font-size: 2rem;
          font-family: 'VT323', monospace;
          color: #fff;
          background: #bb94f8;
          width: 25vw;
          height: 5vh; }
        body main #scoreLineTwo Button:hover {
          background: rgba(187, 148, 248, 0.5); }
        body main #scoreLineTwo Button:active {
          position: relative;
          top: 1px; }
      body main #clickUpgrade {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        body main #clickUpgrade #cookie {
          margin: 2vw 2vw 0 0;
          padding-top: 2vw;
          width: 30vw;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          body main #clickUpgrade #cookie #cookbtn {
            width: 15vw;
            height: auto; }
          body main #clickUpgrade #cookie #cookbtn:active {
            position: relative;
            top: 0.5vw; }
        body main #clickUpgrade #store {
          background: none;
          border: none;
          padding: 2vw 0;
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          width: 20vw; }
          body main #clickUpgrade #store .storeBtn {
            width: 18vw;
            height: 4vh;
            border: none;
            border-radius: 1.5vw;
            color: #fff;
            font-size: 1.5rem;
            font-family: 'VT323', monospace; }
        body main #clickUpgrade #upgrade {
          width: 45vw;
          height: 50vh;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background: none; }
          body main #clickUpgrade #upgrade p {
            visibility: visible;
            font-family: 'VT323', monospace;
            font-size: 2rem;
            color: #7678a5; }
          body main #clickUpgrade #upgrade .build1 {
            background-image: url(/assets/img/field.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build1 img {
              width: 2.5vw; }
          body main #clickUpgrade #upgrade .build2 {
            background-image: url(/assets/img/hills.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build2 img {
              width: 2.5vw; }
          body main #clickUpgrade #upgrade .build3 {
            background-image: url(/assets/img/mountain.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build3 img {
              width: 2.5vw; }
          body main #clickUpgrade #upgrade .build4 {
            background-image: url(/assets/img/dataCenter.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build4 img {
              width: 2.5vw; }
          body main #clickUpgrade #upgrade .build5 {
            background-image: url(/assets/img/robotEnv.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build5 img {
              width: 1.6vw; }
          body main #clickUpgrade #upgrade .build6 {
            background-image: url(/assets/img/abstract.png);
            border-radius: 1vw;
            border: 0.2vh solid #7678a5;
            margin: 0 0;
            padding: 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden; }
            body main #clickUpgrade #upgrade .build6 img {
              width: 2.5vw; }
      body main #tempUpgrade {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 2vw; }
        body main #tempUpgrade #tempup {
          margin-top: 2vh;
          margin-bottom: 2vh;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          background: #bb94f8;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff; }
        body main #tempUpgrade #tempup:hover {
          background: rgba(187, 148, 248, 0.5); }
        body main #tempUpgrade #reset {
          margin-top: 2vh;
          margin-bottom: 2vh;
          background: #e83d4e;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #000; }
        body main #tempUpgrade #reset:hover {
          background: rgba(232, 61, 78, 0.5); }
        body main #tempUpgrade #achievement {
          margin-top: 2vh;
          margin-bottom: 2vh;
          background: #e83d4e;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff; }
        body main #tempUpgrade .modal {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
          transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
        body main #tempUpgrade .modal-content {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-color: #414562;
          font-family: 'VT323', monospace;
          border: black 3px solid;
          font-size: 1.7rem;
          color: white;
          padding: 1rem 1.5rem;
          width: 24rem;
          border-radius: 0.5rem; }
        body main #tempUpgrade .close-button {
          float: right;
          width: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          cursor: pointer;
          border-radius: 0.25rem;
          color: black;
          background-color: #bb94f8;
          border: 3px black solid; }
        body main #tempUpgrade .close-button:hover {
          background-color: darkgray; }
        body main #tempUpgrade .show-modal {
          opacity: 1;
          visibility: visible;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
          transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }
        body main #tempUpgrade .trigger {
          margin-top: 2vh;
          margin-bottom: 2vh;
          background: #e83d4e;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff; } }
/*# sourceMappingURL=style.css.map */