.hea-main {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d95;
  width: 100%;
  height: 12vh;
  border-bottom: 2px lightgray solid;
  z-index: 99;
}

.header-logo {
  width: 90px;
  margin-left: 2vh;
}

.hea-btn-group {
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
  justify-content: center;
  align-items: center;
}

#btn-admin, #btn-login  {
  margin-right: 2vw;
  padding: 1vh 5vw;
  border-radius: 10px;
  background: #004d95;
  box-shadow:  5px 5px 10px #00417f,
  -5px -5px 10px #0059ab;
  color: #fff;
  font-size: 1.3rem;
}

#btn-admin:hover, #btn-login:hover {
  border-radius: 10px;
  background: linear-gradient(145deg, #004586, #00529f);
  box-shadow:  5px 5px 10px #00417f,
  -5px -5px 10px #0059ab;
}

#btn-admin.is-current, #btn-login.is-current {
  border-radius: 10px;
  background: #004d95;
  box-shadow: inset 5px 5px 10px #00417f,
  inset -5px -5px 10px #0059ab;
  color: rgb(194,76, 134);
}

