.main-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-container {
    width: 80vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
    padding-top: 1vh;
}

.list-title {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-list {
    background: #004d95;
    box-shadow: inset 5px 5px 10px #00417f,
    inset -5px -5px 10px #0059ab;
    color: #fff;
}

.add-icon {
    padding: 10px;
    margin-bottom: 0.5vh;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
    color: rgb(194, 76, 134);
    font-size: 2rem;
}
.add-icon:hover {
    border-radius: 10px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
}

.edit-icon {
    padding: 10px;
    margin-bottom: 0.5vh;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
    color: rgb(238, 171, 69);
    font-size: 1.2rem;
}
.edit-icon:hover {
    border-radius: 10px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
}

.delete-icon {
    padding: 10px;
    margin-bottom: 0.5vh;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
    color: rgb(213, 58, 39);
    font-size: 1.2rem;
}
.delete-icon:hover {
    border-radius: 10px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow:  -5px -5px 10px #d9d9d9,
    5px 5px 10px #ffffff;
}