.login-form {
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
}
/* Main form fields */
.login-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}
.login-field > p {
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Form labels */
.login-field > p > label {
    color: #004d95;
}

/* Form inputs */
.login-field > p > input {
    text-align: left;
    border: none;
    border-radius: 0;
    border-bottom: #004d95 0.1rem solid;
    width: 60vw;
}

/* Form submit */
.login-submit {
    margin-top: 8vh;
    width: 60vw;
}
.login-submit > p > input[type=submit] {
    width: 50vw;
    height: 7vh;
    border-radius: 10px;
    background: rgb(209, 62, 136);
    box-shadow:  -10px -10px 20px #d9d9d9,
    10px 10px 20px #ffffff;
    border: none;
    cursor:pointer;
    color: #fff;
}